body
    background-color #efefef
    font-family sans-serif

.transport
    padding:1em
    
.song-position
    td, th
        padding 0 1em
        text-align center
        
    td:first-child, th:first-child
        text-align left
        
    td:last-child, th:last-child
        text-align right
    